.dashContainer {
    background-color: lightgray;
}

.dashTitle {
    padding-top: 10px;
    color:rgb(3, 21, 21);
    font-size: 16pt;
    font-weight: bold;
}

.dashDiv {
    justify-content: space-evenly;
}

.dashTagBtn {
    margin-right: 10px;
}

